<!doctype html>
<html>
	<head>
		<title><%- title %></title>
	</head>
	<body>		 
		 <%- body %>		
		 
		 <div style="margin-top:400px;margin:0 auto;text-algin:center;width:1000px;">
			This footer is from master page
		 </div> 
	</body>
</html>